<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mis Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cambiarDias(-1)">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button>
        {{ currentDate | date:'dd/MM/yyyy' }}
      </ion-button>
      <ion-button (click)="cambiarDias(1)">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargarTareas()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading" class="ion-text-center ion-padding">
    <ion-spinner></ion-spinner>
  </div>


  <ion-list *ngIf="!isLoading">
    <ion-list-header>
      <ion-label color="primary">Pendientes ({{ tareasPendientes.length }})</ion-label>
    </ion-list-header>

    <ion-item-sliding *ngFor="let tarea of tareasPendientes">
      <ion-item [class]="'priority-' + tarea.prioridad">
        <ion-checkbox slot="start" [checked]="tarea.completada" 
                     (ionChange)="cambiarEstadoTarea(tarea)"></ion-checkbox>
        <ion-label>
          <h2>{{ tarea.titulo }}</h2>
          <p>{{ tarea.descripcion }}</p>
          <p>{{ tarea.fecha | date:'shortTime' }}</p>
        </ion-label>
        <ion-badge slot="end" [color]="getPriorityColor(tarea.prioridad)">
          {{ tarea.prioridad }}
        </ion-badge>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarTarea(tarea.id)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-list *ngIf="tareasCompletadas.length > 0 && !isLoading">
    <ion-list-header>
      <ion-label color="success">Completadas ({{ tareasCompletadas.length }})</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let tarea of tareasCompletadas" detail="false">
      <ion-checkbox slot="start" [checked]="true" 
                   (ionChange)="cambiarEstadoTarea(tarea)"></ion-checkbox>
      <ion-label class="task-completed">
        <h2>{{ tarea.titulo }}</h2>
        <p>{{ tarea.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/crear-tarea">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>