<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">

    <ion-tab-button tab="dashboard" class="tab-button">
      <ion-icon name="home" class="tab-icon"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasksearch" class="tab-button">
      <ion-icon name="search" class="tab-icon"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <!-- Botón central destacado -->
    <ion-tab-button tab="nueva-tarea" class="central-tab">
      <div class="central-button">
        <ion-icon name="add" class="plus-icon"></ion-icon>
      </div>
      <ion-label>Nueva</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" class="tab-button">
      <ion-icon name="person" class="tab-icon"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="logout()" class="logout-tab">
      <ion-icon name="power" class="tab-icon"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>


