.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.logo-img {
  max-height: 70px;
  margin-top: 10px;
  margin-bottom: 0;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
}

.enlace-modo {
  margin-top: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

ion-item {
  background: #e0e0e0; 
  --highlight-background: #e0e0e0; 
  --border-radius: 5px; 
  margin-bottom: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  --padding-start: 16px; 
  --inner-padding-end: 8px; 
  --detail-icon-color: #444444; 
}

